
.home-dark{
  background-size: cover;
	min-height: 100vh;
  color: var( --secondary );
	background: rgb(28,182,183);
  background: linear-gradient(0deg, rgba(28,182,183,1) 0%, rgba(103,49,133,1) 50%, rgba(0,0,0,1) 100%);
	padding-bottom: 10%;
}

.home-light{
  background-size: cover;
	min-height: 100vh;
	color: var( --primary );
	background: rgb(54,229,139);
  background: linear-gradient(90deg, rgba(54,229,139,1) 0%, rgba(0,242,255,1) 50%, rgba(8,145,245,1) 100%);
  padding-bottom: 10%;
}

.dark{
  color: var( --secondary );
	background-color: var( --primary );
}

.light{
	color: var( --primary );
	background-color: var( --secondary );
}

nav{
  display: flex;
	justify-content: space-between;
	align-items: center;
  height: 60px;
	padding: 1px 1rem;
  border-bottom: 2px solid rgba(128,128,128,0.5);
}

nav .title{
 height: 60%;
}

